html, body {
    font-size: 14px;
    font-family: sans-serif;

    .menu{
        >a {
            display: inline-block;
            margin: 0 10px;
            text-decoration: none;

            &.active{
                text-decoration: underline;
            }
        }
    }
}